
/* HEADER */


header{
    background-color: #00bdd6;
}

header .container .tittle{
    padding: 60px 0;
    text-align: center;
}

header .container .tittle h1{
    font-size: 50px;
    color: white;
    margin: 10px 0;
}

header .container .tittle h2{
    font-size: 30px;
    color: white;
    margin: 10px 0;
}

header .container .button{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    cursor: pointer;
}

header .container ul{
    height: 0;
    text-align: center;
    position: relative;
    transition: all .6s ease;
    position: absolute;
    width: 100%;
    background-color: #05aac0;
}

header .container .open{
    height: 180px;
}

header .container ul li{
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

header .container ul li a{
    color: white;
}

header .container li :hover{
    color: rgb(122, 228, 247);
}



@media screen and (max-width: 425px){

    /* MENU */

    header .container .submenu{
        margin: 0 auto;
    }
    
    

    header .container .nav ul{
        flex-direction: column;
    }
    
    header .container .nav ul li{
        margin: 10px 0;
    }

}