
/* HEADER */


header{
    background-color: #00bdd6;
}

header .container .tittle{
    padding: 60px 0;
    text-align: center;
}

header .container .tittle h1{
    font-size: 50px;
    color: white;
    margin: 10px 0;
}

header .container .tittle h2{
    font-size: 30px;
    color: white;
    margin: 10px 0;
}

header .container .tittle-button{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    
}

header .container .tittle-button .submenu{
    cursor: pointer;
}

header .container .menu{
    height: 0;
    text-align: center;
    transition: all .6s ease;
    position: absolute;
    width: 100%;
    background-color: #05aac0;
    overflow: hidden;
}

header .container .open{
    height: 180px;
}

header .container .lista{
    color: red;
}

header .container ul li{
    font-size: 20px;
    color: white;
    margin-top: 10px;
    /* display: none; */
}

header .container ul li a{
    color: white;
}