
/* HEADER */


header{
    background-color: #00bdd6;
}

header .container .tittle{
    padding: 60px 0;
    text-align: center;
    background-image: url(../img/header-1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #00bdd6;
    height: 1000px;
    cursor: pointer;
}

header .container .tittle h1{
    font-size: 50px;
    margin: 10px 0;
}

header .container .tittle h2{
    font-size: 30px;
    margin: 10px 0;
    font-weight: 900;
}

header .container .tittle-button{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
    
}

header .container .tittle-button .submenu{
    cursor: pointer;
}

header .container .menu{
    height: 0;
    text-align: center;
    transition: all 1s ease;
    position: absolute;
    width: 100%;
    background-color: #05aac0;
    overflow: hidden;
}

header .container .open{
    height: 180px;
}

header .container ul li{
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

header .container ul li a{
    color: white;
}

header .container ul li a:hover{
    color: #0b646f;
}


@media screen and (max-width: 1024px) {

    header .container .tittle{
        height: 600px;
    }

}

@media screen and (max-width: 425px) {

    header .container .tittle{
        background-image: none;
        color: white;
        height: 200px;
    }

    header .container .tittle-button{
        background-color: #018da0;
    }
    
    header .container .menu{
        background-color: #018da0;
    }
}